.recipe-container {
  background-color: white;
  background-image: radial-gradient(#111111 0.5px, white 0.5px);
  background-size: 15px 15px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.recipe-face {
  width: 320px;
  box-shadow: 0px 20px 10px -15px #111;
  border-radius: 10px;
}

.recipe-card { 
  height: min-content;
  width: min-content;
}

.ingredients-card {
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  width: min-content;
  height: min-content;
}


.ingredients-card img {
  max-height: 40vh;
}

.no-ingredients {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ingredients {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translate(9%,-40%); 
  height: 55%;
  width: 84.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  flex-grow: 1;
}

.ing {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 12px;
}

.count{
  display: flex;
  justify-content: center;
}

.glow {
  margin-top: 20px;
  box-shadow: 0px 0px 20px 10px rgb(255, 153, 0);
  animation: glow 1.5s infinite ease-in-out;
  border-radius: 30px;
}

@keyframes glow {
  0% {
      box-shadow: 0px 0px 20px 10px rgb(243, 202, 141);
  }
  50% {
      
  box-shadow: 0px 0px 20px 10px rgb(255, 153, 0);
  }
  100% {
      box-shadow: 0px 0px 20px 10px rgb(243, 202, 141);
  }
}



.fit {
  width: fit-content;
}

.carrousel {
  padding-bottom: 40px;
  height: fit-content;
}

#close-recipe-chooser {
  width: 30px;
  margin: 12px;
}

#choose-title {
  margin-left: 12px;
}

