.game-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw 1fr;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#table {
  max-width: 70vh;
  position: relative;
  z-index: 1;
}


.seat-image {
  width: 200px;
  height: 200px;
}

.seat{ 
  position: absolute;
}

.tag {
  position: absolute;

  padding: 12px;
  width: fit-content;
  background-color: rgb(208, 204, 199);
  box-shadow:
    inset 0px 0px 10px 5px rgba(0, 0, 0, 0.219),
    0px 10px 5px 0px rgba(0, 0, 0, 0.219);
  border-radius: 8px;
  color: rgb(41, 41, 41);
  font-size: large;
}

.current-player {
  border: 4px solid rgb(216, 0, 0);
  transform: scale(1.1);
}

#hand-container {
  position: absolute;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgb(248, 248, 248), rgba(255, 255, 255, 0));
  height: 200px;
  width: 100vw;
  gap: 20px;
  z-index: 3000;
}

.card img {
  width: 180px;
}

.card:hover {
  cursor: pointer;
}

.side-game {
  background-color: white;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.219);
  justify-content: flex-start;
}

#recipe-card {
  width: 75%;
}

.card-drawn {
  width: 200px;
}


.center-available {
  top: 10%;

}


.card-hand{
  width: 50px;
  margin-left: -35px;

}

.hand-player{
  display: flex;
  flex-direction: row;
  padding-left: 35px;
}

.player-tag {
  position: absolute;
  top: 0;

  background-color: #e0f9fd9c;
  padding: 12px;
  border-radius: 8px;
}

.game-header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0));

  width:100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  
}

.game-header p {
  color: white;
  padding: 14px;
  margin: 10PX;
  
}

.decks {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 43%;
  display: flex;
  flex-direction: row;
  gap: 50px;

}
#draw-deck img{
  box-shadow: 0px 0px 10px 4px rgba(255,255,255,0.75);
  border-radius: 4px;


} 
.decks img{
  width: 80px;


} 

#deck-length{
  position: absolute;
  left:29px;
  top: -10px;
  padding: 4px;
  border-radius: 4px;
  background-color: azure;
  
}

.popup{
  top: 30%;
}

.next-cards img{
  width: 100px;
  margin: 10px;

}

