.hand-column .card{
    margin-top: -200px;
}
  

  
  .card img {
    width: 180px;
    box-shadow: -5px 5px 10px 0px rgba(20, 20, 20, 0.249);
  }


#hand-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(248, 248, 248), rgba(255, 255, 255, 0));
  height: 200px;
  width: 100%;
  gap: 0px;
  z-index: 1000;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.card { 

  width: 80px;
}



.hand-column:hover .card{ 

  width: 180px;
}

.can-play:hover {
  cursor: pointer;
}


#skip-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4000;
  margin: 8px;
}

.cant-play{
  filter: brightness(0.45);
}