.hand-column .card{
    margin-top: -200px;
    
}
  

  
.card img {
  width: 180px;
  box-shadow: -5px 5px 10px 0px rgba(20, 20, 20, 0.249);
}


#hand-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.725), rgba(255, 255, 255, 0));
  height: 200px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.card { 
  transition: width 0.2s ease-out, margin-bottom 1s ease-out;
  width: 80px;
  margin-bottom: 0px;
  
}


.card img{ 
  border-radius: 13px;
}

.played {
  animation: play-card 0.4s ease-in 0s forwards;
}

@keyframes play-card {
  0% {
    margin-bottom: 0px;
    opacity: 1;
  }
  100% {
    margin-bottom: 250px;
    opacity: 0;
  }
}



.hand-column:hover .card{ 
  transition: width 0.3s ease-out;
  width: 180px;
}

.hand-column:hover::after .card{ 
  transition: width 0.1s ease-out;
  width: 80px;
}




.can-play:hover {
  cursor: pointer;
}


#skip-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4000;
  margin: 8px;
}

.cant-play{
  filter: brightness(0.45);
}

.card.to-play {
  
  animation: to-play 0.15s ease-out 0s forwards;
}



@keyframes to-play {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 120px;
  }
}


#play-button{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,0);
  padding: 12px;
  z-index: 2000;
}