@media screen and (orientation: landscape) {
  .content {
    margin: 24px;
  }
  .header-rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (orientation: portrait) {
}
.room-list-title {
  font-size: 40px;
}
.pages {
  background-color: white;
  margin-top: 24px;
  border-radius: 12px;

  background-image: radial-gradient(#111111 0.5px, white 0.5px);
  background-size: 15px 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.room {
  padding-top: 14px;
  padding-bottom: 14px;
  display: grid;
  grid-template-columns: 10% 20% 1fr 100px;
}

.rooms-list {
  padding: 14px 20px 14px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bottom-border:not(:last-child) {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.create-room-button {
  font-size: 24px;
  padding: 10px 20px 10px 20px;
}

#home-button:hover {
  filter: brightness(70%);
}

#ball {
  width: 20px;
  border-radius: 20px;
  height: 20px;
  border: 1px solid rgb(164, 164, 164);
}

.joinable {
  background: radial-gradient(
    circle at 25% 25%,
    rgb(255, 255, 255) 1%,
    rgb(232, 4, 4),
    red
  );
}

.not-joinable {
  background: radial-gradient(
    circle at 25% 25%,
    rgb(255, 255, 255) 1%,
    rgb(13, 178, 71),
    rgb(42, 207, 9)
  );
}

.status {
  display: flex;
}



.close {
  position: absolute;
  top: 10px;
  right: 4px;
  background-color: transparent;
  border: none;
}

.header-small {
  font-size: 40px;
}

.pop2 {
  margin-top: -2px;
}

.label {
  margin-right: 6px;
}

.field-create {
  align-items: center;
}

.create-row {
  margin: 6px;
}

.room-name {
  align-self: center;
  margin-left: 12px;
}

.players-list {
  margin-left: 12px;
}

#join-popup-fields {
  align-items: center;
}

#no-rooms {
  align-items: center;
  padding: 20px;
}

#cat-not-found {
  width: 40%;
  max-width: 400px;
}


#recipe-name{
margin-left: 8px;
}